<h3>{{ 'platform.home.best.headTitle'|trans }}</h3>
<p>{{ 'platform.home.best.subtitle'|trans }}</p>
<div class="row">
    {% for product in products %}
        <div class="col-md-3">
            {% include 'product/single_product.html.twig' %}
        </div>
    {% endfor %}
</div>