<div class="section section-header">
    <div class="parallax"> {# filter filter-color-red #}
        <div class="image" style="background-image: url('{{ asset('assets/img/header/header-3.jpg') }}')"></div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    Bienvenue dans votre centre de formation
                    <div class="separator line-separator">♦</div>
                </div>

                {#<div class="button-get-started">#}
                    {#<a href="http://www.creative-tim.com/product/gaia-bootstrap-template" target="_blank"#}
                       {#class="btn btn-white btn-fill btn-lg ">#}
                        {#Download Demo#}
                    {#</a>#}
                {#</div>#}
            </div>

        </div>
    </div>
</div>