<div class="section section-post">
    <div class="row">
        <div class="title-area">
            <h2>Dernières actualités...</h2>
            <div class="separator separator-danger">✻</div>
            <p class="description">It is a long established fact that a reader will be distracted by the readable conten</p>
        </div>
    </div>

    <div class="row" style="margin-top: -50px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% for post in posts %}
                    <div class="row post-content">
                        <div class="col-md-8 col-lg-offset-1">
                            <img src="/uploads/{{ post.illustration }}" class="img-fluid"
                                 alt="Une boutique ouverte toute l'année">
                        </div>

                        {#<div class="col-md-8 {{ post.isTextRight ? 'post-content-right': '' }}">#}
                            {#<h2 class="post-title">{{ post.title }}</span></h2>#}
                            {#<p class="post lead">{{ post.content|raw }}</p>#}
                        {#</div>#}
                        {#<div class="col-md-5">#}
                            {#<img src="/uploads/{{ post.illustration }}" class="img-fluid"#}
                                 {#alt="Une boutique ouverte toute l'année">#}
                        {#</div>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
