<div class="section section-services">
    <div class="row">
        <div class="title-area">
            <h2>L' A.F.A.C. comme...</h2>
            <div class="separator separator-danger">✻</div>
            <p class="description">Des acronymes riches de sens et tellement complémentaires.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 service-content">
            <a href="#" title="Accompagnement...">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-smile"></i>
                    </div>
                    <h3><span style="font-size: 40px;">A</span>ccompagnement</h3>
                    <p class="description">We make our design perfect for you. Our adjustment turn our clothes into your
                        clothes.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 service-content">
            <a href="#" title="Formation...">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-study"></i>
                    </div>
                    <h3><span style="font-size: 40px;">F</span>ormation</h3>
                    <p class="description">We create a persona regarding the multiple wardrobe accessories that we
                        provide..</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 service-content">
            <a href="#" title="Animation...">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-coffee"></i>
                    </div>
                    <h3><span style="font-size: 40px;">A</span>nimation</h3>
                    <p class="description">We create a persona regarding the multiple wardrobe accessories that we
                        provide..</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 service-content">
            <a href="#" title="Coordination...">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-plug"></i>
                    </div>
                    <h3><span style="font-size: 40px;">C</span>oordination</h3>
                    <p class="description">We like to present the world with our work, so we make sure we spread the
                        word
                        regarding our clothes.</p>
                </div>
            </a>
        </div>
    </div>
</div>
