<div class="section section-team">
    <div class="title-area">
        <h2>Notre équipe...</h2>
        <div class="separator separator-danger">✻</div>
        <p style="margin-bottom: 0;">Des intervenants de grande qualité dans leur spécialité.</p>
    </div>

    <div class="row" style="margin-top: -50px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% for person in persons %}
                    <div class="col-md-3">
                        <div class="card card-member">
                            <div class="content">
                                <div class="avatar avatar-border person-illustration">
                                    <img alt="{{ person.firstname~' '~person.lastname }}" class="img-circle"
                                         src="/uploads/{{ asset(person.illustration) }}"/>
                                </div>
                                <div class="description-block">
                                    <h3 class="person-title">{{ person.firstname~' '~person.lastname }}</h3>
                                    {% if person.disciplines|length %}
                                        <ul class="person-disciplines">
                                            {% for discipline in person.disciplines %}
                                                <li>{{ discipline.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <p class="person-description">{{ person.description|substr(200) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
