{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-cart">
        <h1>Mon panier</h1>

        Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.

        {% if(cart|length > 0) %}
            <table class="table mt-3">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for product in cart %}
                    <tr>
                        <th scope="row">
                            <a target="_blank" title="Ouvrir la fiche du produit dans un nouvel onglet"
                               href="{{ path('product',{slug:product.product.slug}) }}">
                                <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"
                                     height="75px"><br>
                            </a>
                        </th>
                        <td>
                            <a target="_blank" title="Ouvrir la fiche du produit dans un nouvel onglet"
                               href="{{ path('product',{slug:product.product.slug}) }}">{{ product.product.name }}</a><br>
                            <small><em>{{ product.product.subtitle }}</em></small>
                        </td>
                        <td>
                            <a href="{{ path('decrease_to_cart',{id:product.product.id}) }}">
                                <img src="{{ asset('assets/img/minus.svg') }}" height="12px" alt="Supprimer un produit">
                            </a>
                            x {{ product.quantity }}
                            <a href="{{ path('add_to_cart',{id:product.product.id}) }}" title="Ajouter un produit">
                                <img src="{{ asset('assets/img/plus.svg') }}" height="12px" alt="Ajouter un produit">
                            </a>
                        </td>
                        <td>{{ (product.product.price / 100)|number_format(2,',','.') }} €</td>
                        <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €</td>
                        <td>
                            <a href="{{ path('delete_to_cart', {id: product.product.id}) }}" title="Supprimer mon produit">
                                <img src="/assets/img/delete.svg" title="Supprimer" alt="Supprimer mon produit"
                                     height="18px">
                            </a>
                        </td>
                    </tr>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
                </tbody>
            </table>

            <div class="text-right">
                <b>Nombre de produits: </b>{{ cart|length }}<br>
                <b>Total de mon panier:</b> {{ (total / 100)|number_format(2,',','.') }} €
                <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a><br>
            </div>
            <div class="cart-to-products">
                Ou <a href="{{ path('products') }}">poursuivre mes achats dans la boutique</a>.
            </div>
        {% else %}
            <hr>
            <p><b>Votre panier vide.</b></p>
            <p><a href="{{ path('products') }}">Retourner vers la boutique</a></p>
        {% endif %}
    </section>

{% endblock %}
