{% extends 'base.html.twig' %}

{% block title %}{{ 'account.manageAddress.form.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1><i class="fa fa-map-marker"></i> {{ 'account.manageAddress.form.headTitle'|trans }}</h1>
    <a href="{{ path('account_address') }}"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'account.manageAddress.form.back_link'|trans }}</a>
    <hr>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% set required = form.vars.required ? '*' : '' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_label(form.name, 'account.manageAddress.form.address_name.label'|trans~required) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.firstname, 'account.manageAddress.form.firstname.label'|trans~required) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.lastname, 'account.manageAddress.form.lastname.label'|trans~required) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.company, 'account.manageAddress.form.company.label'|trans~required) }}
            {{ form_widget(form.company) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.address, 'account.manageAddress.form.address.label'|trans~required) }}
            {{ form_widget(form.address) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.zipcode, 'account.manageAddress.form.zipcode.label'|trans~required) }}
            {{ form_widget(form.zipcode) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.city, 'account.manageAddress.form.city.label'|trans~required) }}
            {{ form_widget(form.city) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.country, 'account.manageAddress.form.country.label'|trans~required) }}
            {{ form_widget(form.country) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.phone, 'account.manageAddress.form.phone.label'|trans~required) }}
            {{ form_widget(form.phone) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
