{% extends 'base.html.twig' %}

{% block title %}{{ 'account.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div style="margin-top: 100px;z-index: 0">

        <h1><span class="fas fa-user-lock"></span> {{ 'account.headTitle'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <small><a target="_blank" href="/admin">{{ 'account.adminSpace_link'|trans }}</a></small><br>
        {% endif %}
        <br>
        <p>Bienvenue <b>{{ app.user.firstname }}</b> dans votre compte.</p>
        <br><br>
        <p>{{ 'account.description.label'|trans }}</p>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="account-item text-center">
                    <a href="{{ path('account_password') }}">
                        <img src="{{ asset('assets/img/password.svg') }}" height="60px"
                             alt="{{ 'account.editPassword.button_label'|trans }}"><br>
                        <span style="font-size: 16px;">{{ 'account.editPassword.button_label'|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="account-item text-center">
                    <a href="{{ path('account_address') }}">
                        <img src="{{ asset('assets/img/address.svg') }}" height="60px"
                             alt="{{ 'account.manageAddress.button_label'|trans }}"><br>
                        <span style="font-size: 16px;">{{ 'account.manageAddress.button_label'|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="account-item text-center">
                    <a href="{{ path('account_order') }}">
                        <img src="{{ asset('assets/img/shopping-bags.svg') }}" height="60px"
                             alt="{{ 'account.myOrders.button_label'|trans }}"><br>
                        <span style="font-size: 16px;">{{ 'account.myOrders.button_label'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
