{% extends 'base.html.twig' %}

{% block title %}{{ 'orderCancel.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-cancel">
        <h2>{{ 'orderCancel.title'|trans }}</h2>

        {% set txt = null %}
        {% if app.request.locale == 'fr' %}
            {% set txt = "<p>Bonjour <strong>"~order.user.firstname~" "~order.user.lastname~" </strong>,<br><br>

        Il semblerait que votre paiement ait échoué pour votre commande n°<strong>"~order.reference~" </strong>. <br>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong>"~order.user.email~" </strong>.
            </p>" %}
        {% elseif app.request.locale == 'en' %}
            {% set txt = "<p>Hello <strong>"~order.user.firstname~" "~order.user.lastname~" </strong>,<br><br>

        It looks like your payment has failed for your order n°<strong>"~order.reference~" </strong>. <br>
        An error confirmation has just been sent to you by email at <strong>"~order.user.email~" </strong>.
            </p>" %}
        {% endif %}

        {{ txt|raw }}

        <a href="{{ path('order') }}" class="btn btn-success">{{ 'orderCancel.payAgain_link'|trans }}</a>
    </section>

{% endblock %}
