{% extends 'base.html.twig' %}

{% block title %}{{ 'platform.home.title'|trans }}{% endblock %}

{% block content %}
    <section id="section-home">
        {% include '_partials/_services.html.twig' %}
        <hr>
        {% include '_partials/_team.html.twig' %}
        {#<hr>#}
        {#{% include '_partials/_best.html.twig' %}#}
        <hr>
        {% include '_partials/_post.html.twig' %}
    </section>
{% endblock %}
