{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'admin' %}

{#{% block head_stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('public/assets/css/admin.css') }}">#}
{#{% endblock %}#}

{% block page_content %}
    My dashboard


{% endblock %}
