@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* You’ll find all variables in the assets/css/easyadmin-theme/variables.scss file */
/*:root {*/
    /*--body-max-width: 100%; !* make the backend contents as wide as the browser window *!*/
    /*--body-bg: #f5f5f5; !* change the background color of the <body> *!*/
    /*--font-size-base: 13px; !* make the base font size smaller *!*/
    /*--border-radius: 0px;!* remove all border radius to make corners straight *!*/
/*}*/

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #FFF;
}
.home-link{
    color: #FFF;
    margin-right: 20px;
}
.home-link:hover{
    color: #fcf87e;
}
.btn-admin-custom{
    background-color: lightgrey;
    padding: 2px;
}
.btn-admin-custom:hover{
    background-color: #d3d3FF;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    background-color: dodgerblue;
    color: #FFF;
}
.logo{
    padding-right: 500px;
    font-weight: normal;
}
section.content-header::before,
section.content-header::after,
section.content-header,
.main-sidebar{
    background-color: #FFF;
}
.action-updateDelivery{
    margin: 10px;
}

/* navbar */
header.main-header{
    background-color: #800080;
    color: #FFF;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}
#header-logo a.logo{
   color: #FFF; switch-language;
}
a.switch-language, .user-name{
    color: #FFF;
}
a.switch-language:hover, .user-name {
    color: #ffff00;
}
.data-row .field-image{
    width: 300px;
}