body{
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif!important;
    background-color: #f6f6f6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: 600;
    font-size: 12px;
}
p{
    font-size: 16px;
}
footer{
    text-align: center;
    position: absolute;
    width: 100%;
    /*bottom: 0;*/
    background-color: #DFEAFF;
    padding-top: 25px;
}
hr {
    height: 2px;
    color: #839D2D;
    background-color: #e8e8e8;
    width: 75%;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.alert{
    padding: 4px!important;
}
input::placeholder, textarea::placeholder {
    color: lightgrey !important;
    font-size: 14px;
}
h1,.h1 {
    font-size: 1.6em;
}
h2,.h2 {
    font-size: 1.5em;
}
.section{
    background-color: #f6f6f6;
}
.section:first-child {
    padding: 0;
}
.section.section-team{
    padding: 10px 0 0 0;
    background-color: #e3eeed;
}
.section.section-post{
    padding: 10px 0 0 0;
}
.section.section-post img{
    width: 75px;
    border-radius: 4px;
}
.section.section-post .post-content{
    margin-bottom: 10px;
    border: lightgrey 1px solid;
    padding: 5px;
}
.section.section-post .post-content .post-content-right img{
    float: right;
}
.section.section-services .title-area
{
    margin: 0;
}
.page-content{
    margin-bottom: 100px;
}
.mapContact-content {
    padding: 5px;
}
#mapContact {
    height: 310px;
    width: 350px;
    border-radius: 4px;
}
form .btn {
    background-color: #dff0d8;
}
form .btn:hover {
    background-color: #dbdfd5;
}
.nav > li > a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
.section-header .title-area{
    font-size: 2.2em!important;
    margin-top: -50px;
}
.section-services .service-content a{
    color: #1e90ff;
}
.section-services .service-content:hover{
    background-color: #fcf5bb;
    cursor: pointer;
    border-radius: 4px;
}
.cart-icon{
    height: 20px;
}
.card-member {
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    background-color: #e8fffb;
}
div.card.card-member{
    padding: 0;
    min-height: 275px;
    max-height: 275px;
    background-color: #e9f6bf;
}
div.card.card-member>.content{
    padding: 10px!important;
}
.avatar {
    border-radius: 50%;
    overflow: hidden;
    max-width: 80px;
}
.avatar img {
    width: 50%;
    max-height: 100px;
}
div.card.card-member>.content>.description-block>h3.person-title{
    color: grey;
    font-size: 1.1em;
}
.avatar-border{
    border: 1px solid #d3d3d3;
}
div.card.card-member>.content>.description-block>ul.person-disciplines{
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #e8f2ed;
    color: grey ;
    list-style: none;
    padding: 0;
}
div.card.card-member>.content>.description-block>p.person-description{
    text-align: left;
    margin-bottom: 0;
    color: #578f82!important;
}
/*cart*/
.cart-icon{
    height: 20px;
    padding-left: 20px;
}
.cart-counter{
    font-size: 12px;
    width: 50px;
    padding: 2px;
}
#section-products img{
    width: 100px;
}
nav ul.security-user-dropdown{
    padding: 10px;
}
nav ul.security-user-dropdown li{
    /*margin: 3px;*/
}
.account-address-item{
    padding: 15px;
    background-color: #8effef;
    color: #000;
    border-radius: 4px;
}
.account-address-item a{
    color: black;
}
.account-address-item a:hover{
    color: grey;
}