.navbar-home a{
    color: #FFF!important;
}
.navbar-page{
    background-color: #800080 !important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
    box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
}
nav i.fa{
    margin-right: 3px;
}
.navbar{
    padding-top: 10px;
}
.navbar .navbar-brand {
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}
.navbar .navbar-nav > li > a
{
    margin: 0;
}
.navbar .navbar-brand:hover {
    font-size: 25px;
}
.navbar .navbar-nav > li > a {
    font-size: 1em;
    letter-spacing: 1px;
    color: #FFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-brand:hover{
    color: #ffe33c!important;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #ffffff;
}