{% extends 'base.html.twig' %}

{% block title %}{{ 'product.list.title'|trans }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <section id="section-products">
        <h1>Notre catalogue de formations</h1>
        <div class="row">
            <div class="col-md-3">
                <h3>{{ 'product.list.filter_label'|trans }}</h3>

                {{ form(form) }}
            </div>
            <div class="col-md-9">
                <div class="row product-container">
                    {% for product in products %}
                        <div class="col-md-4">
                            {% include 'product/single_product.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
