{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}

    <a href="{{ path('products') }}">{{ 'product.single.back_link'|trans }}</a>

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <span class="product-page">{{ (product.price / 100)|number_format(2,',','.') }} €</span>
            <p>{{ product.subtitle }}</p>
            <hr>
            <p>{{ product.description  }}</p>
            <hr>

            {{ 'product.single.choose_quantity_label'|trans }} :
            <span class="product-manage-quantity">
                <a href="{{ path('decrease_to_cart',{id:product.id}) }}">
                    <img src="{{ asset('assets/img/minus.svg') }}" height="12px" alt="{{ 'product.single.remove.alt'|trans }}">
                </a>
                <span style="border: 1px solid #d3d3d3; padding: 1px 3px">{{ cartQuantity }}</span>
                <a href="{{ path('add_to_cart',{id:product.id}) }}" title="{{ 'product.single.remove.alt'|trans }}">
                    <img src="{{ asset('assets/img/plus.svg') }}" height="12px" alt="Ajouter un produit">
                </a>
            </span>
        </div>
    </div>

    <hr>
    <h3>{{ 'product.single.bestSellers_title'|trans }}</h3>
    <p>{{ 'product.single.bestSellers_subtitle'|trans }}</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
