{% extends 'base.html.twig' %}

{% block title %}{{ 'security.register.title'|trans }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1><span class="fas fa-user-edit"></span> {{ 'security.register.headTitle'|trans }}</h1>
                    <hr>
                </div>
            </div>

            {% for error in form.vars.errors %}
                <div class="alert alert-danger">
                    {% if app.request.locale == 'fr' %}
                        Le captcha n'est pas valide. Veuillez réessayer.
                    {% else %}
                        {{ error.message|trans }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col">
                    {% set required = form.vars.required ? '*' : '' %}
                    {{ form_start(form, {'attr': {'id': 'registerForm'}}) }}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(form.firstname, 'security.register.form.firstname.label'|trans~required) }}
                            {{ form_widget(form.firstname) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.lastname, 'security.register.form.lastname.label'|trans~required) }}
                            {{ form_widget(form.lastname) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.email, 'security.register.form.email.label'|trans~required) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-lg-offset-2">
                            {{ form_label(form.password, 'security.register.form.password.label'|trans~required) }}
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="col-md-4 offset-md-1" class="password-rules">
                            <div class="password-rules-content">
                                <p> {{ 'security.register.form.password.rules.label'|trans }}</p>
                                <ul id="rules">
                                    <li id="rule1">{{ 'security.register.form.password.rules.1'|trans }}</li>
                                    <li id="rule2">{{ 'security.register.form.password.rules.2'|trans }}</li>
                                    <li id="rule3">{{ 'security.register.form.password.rules.3'|trans }}</li>
                                    <li id="rule4">{{ 'security.register.form.password.rules.4'|trans }}</li>
                                    <li id="rule5">{{ 'security.register.form.password.rules.5'|trans }}: $ @ % * + - _
                                        !
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <div class="g-recaptcha" data-site-key="{{ gg_recaptcha_site_key }}"
                             style="display: inline-block;">
                            {{ form_row(form.captcha) }}
                        </div>
                    </div>

                    <div class="text-center col-lg-4 col-lg-offset-4">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        <a href="{{ path('reset_password') }}">{{ 'security.login.form.forgottenLabel.label'|trans }}</a>
                    </p>
                    <p class="text-center">{{ app.request.locale == 'fr' ? 'Ou souhaitez-vous': 'Or would you like' }}
                        <a href="{{ path('register') }}"> {{ app.request.locale == 'fr' ? 'créer un compte': 'to register' }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        $.validator.setDefaults({
            submitHandler: function () {
                alert("submitted!");
            }
        });

        $(function () {

            // $("#formRegister").validate();
            jQuery("#formRegister").validate({
                rules: {
                    "firstname": {
                        "required": true,
                        "minlength": 2,
                        "maxlength": 10
                    },
                    // "monemail": {
                    //     "email": true,
                    //     "maxlength": 255
                    // },
                    // "montelephone": {
                    //     "required": true
                }
            });
        });

        //http://jsfiddle.net/opfyrqwp/28/
        function isInt4(value) {
            return !isNaN(value) && (function (x) {
                return (x | 0) === x;
            })(parseFloat(value))
        }

        function checkSpecialCharacter(character) {
            let specialCharacters = ['$', '@', '%', '_', '*', '+', '-', '!'];
            specialCharacters.forEach(spe => {
                if (character.includes(spe)) {
                    return true;
                }
                return false;
            });
        }

    </script>
{% endblock %}
