{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon.png') }}">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />#}
    <title>{{ appName }}|{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/gaia.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/fontawesome-free-5.15.1-web/css/all.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <!--load all styles -->
    <link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>

    <!-- Fonts and icons -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/fonts/pe-icon-7-stroke.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Quicksand:wght@500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

{% block navbar %}
    {% include'_partials/_navbar.html.twig' %}
{% endblock %}

{% block header %}
    {% include'_partials/_header.html.twig' %}
{% endblock %}

<main>
    <div class="container">
        <div style="min-height: 500px;margin-bottom:50px;{{ home is not defined ? 'margin-top:100px': '' }}">
            {% block content %} {% endblock %}
        </div>
    </div>
</main>

{% block footer %}
    {% include '_partials/_footer.html.twig' %}
{% endblock %}

{# JAVASCRIPT #}
<!-- Google analytics JS -->
{#<script>#}
{#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

{#ga('create', 'UA-29879648-1', 'xxxxx.fr');#}
{#ga('send', 'pageview');#}
{#</script>#}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>
{#<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>

<script src="{{ asset('assets/js/modernizr.js') }}"></script>
<script src="{{ asset('assets/js/gaia.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{#<script src="{{ asset('assets/libs/jquery-validation-1.19.2/dist/jquery.validate.js') }}"></script>#}

<!-- cookies -->
{#<script src="{{ asset("assets/libs/cookie-consent-bar-message/dist/jquery.cookieMessage.min.js") }}"></script>#}

<!-- Google recaptcha -->
<script src="{{ asset('assets/js/recaptcha.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}"
        async defer></script>

{% block script %} {% endblock %}

<script>
    // function placeFooter() {
    //     if ($(document.body).height() < $(window).height()) {
    //         $("footer").css({position: "fixed", bottom: "0px"});
    //     } else {
    //         $("footer").css({position: ""});
    //     }
    // }
    //
    // placeFooter();

    {#$(document).ready(function () {#}
    {#let popoverBtn = $("#popover-cart");#}
    {#let dataProviderURL = Routing.generate('cart_ajax', {});#}

    {#popoverBtn.popover({#}
    {#title: "your-popover-title",#}
    {#placement: "bottom",#}
    {#html: true,#}
    {#content: "<div id='popover-body'><img src='{{ asset('assets/img/Bars-1s-30px-transparent.gif') }}' alt='Loading...'></div>"#}
    {#});#}

    {#popoverBtn.on("shown.bs.popover", function () {#}
    {#$(".popover-close-btn").click(function () {#}
    {#popoverBtn.popover("hide");#}
    {#});#}

    {#let popoverTitle = $(".popover-header");#}
    {#let popoverBody = $(".popover-body");#}

    {#$.ajax({#}
    {#url: dataProviderURL,#}
    {#type: "GET",#}
    {#// data: {id: "some-identifier-for-the-data-you-want-to-retrieve"},#}
    {#success: function (result) {#}
    {#console.log(result);#}
    {#popoverTitle.html(result.title);#}
    {#popoverBody.html(result.content);#}
    {#popoverBtn.popover("update");#}
    {#},#}
    {#error: function () {#}
    {#popoverBody.html("<em class='text-danger'>some-error-message.</em>");#}
    {#}#}
    {#});#}
    {#});#}
    {#});#}
</script>

</body>
</html>
