{% extends 'basePdf.html.twig' %}

{% block stylesheets %}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="{{ absolute_url(asset('assets/css/pdf.css')) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %} {% endblock %}

{% block main %}
    {% block content %}{% endblock %}
{% endblock %}
