{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% block content_title %}
    {{ parent() }}
    <hr>
{% endblock %}

{% block page_actions %}

    <button class="btn btn-secondary">
        <a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-ban"></i> Annuler</a>
    </button>
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}