{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block content_title %}
    {{ parent() }}
    <hr>
{% endblock %}

 {% block body_javascript %}
     {{ parent() }}
     <script>
         $(function () {

             let linkNew = $('.action-new');
             if (linkNew != undefined) {
                 let currentLink = linkNew.attr('href');

                 // console.log(currentLink);
                 // console.log('-----------------------------------------------');

                 let preparams = currentLink.split('?');
                 let httpBase = preparams[0];
                 let param1 = preparams[1].split('&');
                 let param2 = preparams[2].split('&');

                 // console.log(preparams);
                 console.log(preparams[1]);
                 console.log(param1[0]);
                 // console.log(params[1]);

                 let newUrl = httpBase + '?'  + param1[0] + '&' + param1[1] + '&' + param1[2] + '?'  + preparams[2];
                 // let newUrl = httpBase + '?' + 'toto';

                 console.log('Nouvelle URL Add =' + newUrl);
                 linkNew.attr('href', newUrl);
             }

             //mise à jour de chaque url de lien
             $('a.action-edit').each(function(){

                 console.log($(this));

                 let currentLink = $(this).attr('href');
                 let preparams = currentLink.split('?');
                 let httpBase = preparams[0];
                 let param1 = preparams[1].split('&');

                 // console.log(currentLink);
                 // console.log(preparams);
                 // console.log(preparams[0]); //base
                 // console.log(preparams[1]); //crudAction=edit&crudId=bdc31da&entityId=5&menuIndex=6?
                 // console.log(preparams[2]);
                 // console.log(param1[0]);
                 // console.log(param1[1]);
                 // console.log(preparams[3]);
                 // console.log(preparams[4]);

                 let newUrl = httpBase + '?' + param1[0] + '&' + param1[1] + '&' + param1[2] +
                     '&' + param1[3] + '?' + preparams[2] ;

                 console.log('NEw URL edit: ' + newUrl);
                 $(this).attr('href', newUrl);
             });

         });
     </script>
 {% endblock body_javascript %}