{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}
    {{ parent() }}
    <hr>
{% endblock %}

{% block page_actions %}

    <button class="btn btn-secondary">
        <a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-ban"></i> Annuler</a>
    </button>
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>

    {#<script type="text/javascript">#}
        {#$(function() {#}
            {#$('.ea-new-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });#}

            {#const entityForm = document.querySelector('form.ea-new-form');#}
            {#const inputFieldsSelector = 'input,select,textarea';#}

            {#// Adding visual feedback for invalid fields: any ".form-group" with invalid fields#}
            {#// receives "has-error" class. The class is removed on click on the ".form-group"#}
            {#// itself to support custom/complex fields.#}
            {#entityForm.addEventListener('submit', function(submitEvent) {#}
                {#entityForm.querySelectorAll(inputFieldsSelector).forEach(function (input) {#}
                    {#if (!input.validity.valid) {#}
                        {#const formGroup = input.closest('div.form-group');#}

                        {#formGroup.classList.add('has-error');#}

                        {#formGroup.addEventListener('click', function onFormGroupClick() {#}
                            {#formGroup.classList.remove('has-error');#}
                            {#formGroup.removeEventListener('click', onFormGroupClick);#}
                        {#});#}
                    {#}#}
                {#});#}

                {#const eaEvent = new CustomEvent('ea.form.submit', {#}
                    {#cancelable: true,#}
                    {#detail: { page: 'new', form: entityForm }#}
                {#});#}
                {#const eaEventResult = document.dispatchEvent(eaEvent);#}
                {#if (false === eaEventResult) {#}
                    {#submitEvent.preventDefault();#}
                    {#submitEvent.stopPropagation();#}
                {#}#}
            {#});#}

            {#// forms with tabs require some special treatment for errors. The problem#}
            {#// is when the field with errors is included in a tab not currently visible.#}
            {#// Browser shows this error "An invalid form control with name='...' is not focusable."#}
            {#// So, the user clicks on Submit button, the form is not submitted and the error#}
            {#// is not displayed. This JavaScript code ensures that each tab shows a badge with#}
            {#// the number of errors in it.#}
            {#entityForm.addEventListener('submit', function() {#}
                {#const formTabPanes = entityForm.querySelectorAll('.tab-pane');#}
                {#if (0 === formTabPanes.length) {#}
                    {#return;#}
                {#}#}

                {#let firstNavTabItemWithError = null;#}

                {#formTabPanes.forEach(function (tabPane) {#}
                    {#let tabPaneNumErrors = 0;#}
                    {#tabPane.querySelectorAll(inputFieldsSelector).forEach(function (input) {#}
                        {#if (!input.validity.valid) {#}
                            {#tabPaneNumErrors++;#}
                        {#}#}
                    {#});#}

                    {#let navTabItem = entityForm.querySelector('.nav-item a[href="#' + tabPane.id + '"]');#}
                    {#let existingErrorBadge = navTabItem.querySelector('span.badge.badge-danger');#}
                    {#if (null !== existingErrorBadge) {#}
                        {#navTabItem.removeChild(existingErrorBadge);#}
                    {#}#}

                    {#if (tabPaneNumErrors > 0) {#}
                        {#let newErrorBadge = document.createElement('span');#}
                        {#newErrorBadge.classList.add('badge', 'badge-danger');#}
                        {#newErrorBadge.title = 'form.tab.error_badge_title';#}
                        {#newErrorBadge.textContent = tabPaneNumErrors;#}

                        {#navTabItem.appendChild(newErrorBadge);#}

                        {#if (null === firstNavTabItemWithError) {#}
                            {#firstNavTabItemWithError = navTabItem;#}
                        {#}#}
                    {#}#}
                {#});#}

                {#if (firstNavTabItemWithError) {#}
                    {#firstNavTabItemWithError.click();#}
                {#}#}
            {#});#}

            {#// prevent multiple form submissions to avoid creating duplicated entities#}
            {#entityForm.addEventListener('submit', function() {#}
                {#// this timeout is needed to include the disabled button into the submitted form#}
                {#setTimeout(function() {#}
                    {#const submitButtons = entityForm.querySelectorAll('[type="submit"]');#}
                    {#submitButtons.forEach(function(button) {#}
                        {#button.setAttribute('disabled', 'disabled');#}
                    {#});#}
                {#}, 1);#}
            {#}, false);#}
        {#});#}
    {#</script>#}

    {#{{ include('@EasyAdmin/crud/includes/_select2_widget.html.twig') }}#}
{% endblock %}