{% extends 'base.html.twig' %}

{% block title %}{{ 'order.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-order">
        <h2>{{ 'order.headTitle'|trans }}</h2>
        <p>{{ 'order.subtitle'|trans }}.</p>

        <div class="row">
            <div class="col-md-6">
                {% set formHtml %}
                    {{ form_start(form, {action:path('order_recap')}) }}
                    {{ form_label(form.addresses, 'order.form.carrier.addresses.choice_label'|trans) }}
                    <a href="{{ path('account_address_add') }}">{{ 'order.a.carrier.address.add'|trans }}</a>
                    {{ form_end(form) }}
                {% endset %}

                {{ formHtml|replace({'[br]':'<br/>'})|raw }}
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <b>{{ 'order.summary'|trans }}</b>
                    <p>{{ 'order.summary_label'|trans }}.</p>
                </div>
                <div class="order-summary">
                    {% for key, product in cart %}
                        <div class="row {% if key > 0 %}mt-2{% endif %}">
                            <div class="col-2">
                                <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"
                                     height="75px">
                            </div>
                            <div class="col-8 my-auto">
                                <a target="_blank" title="Ouvrir la fiche du produit dans un nouvel onglet"
                                   href="{{ path('product',{slug:product.product.slug}) }}">{{ product.product.name }}</a><br>
                                <small><em>{{ product.product.subtitle }}</em></small>
                            </div>
                            <div class="col-2 my-auto">x {{ product.quantity }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
