{% if app.request.locale == 'fr' %}

    Bonjour {{ user.firstanme }}<br>Bienvenue sur le site de l'A.F.A.C de l'Être<br><br>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores atque dignissimos distinctio
    eos est expedita fuga laboriosam laudantium minus mollitia
    obcaecati pariatur quia, ratione repellat rerum, velit voluptatem voluptates!

{% else %}

    Hello {{ user.firstanme }}<br>Welcome to the A.F.A.C de l'Être Website<br><br>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores atque dignissimos distinctio
    eos est expedita fuga laboriosam laudantium minus mollitia
    obcaecati pariatur quia, ratione repellat rerum, velit voluptatem voluptates!

{% endif %}

